/* BASE */

.flex {
    display: flex;
}

.inline-flex {
    display: inline-flex;
}

.flex-nowrap {
    flex-wrap: nowrap;
}

.flex-col {
    flex-direction: column;
}

/* ROW */

.row-center-center {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.row-center-between {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.row-center-start {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
}

.row-center-end {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-end;
}

.row-center-around {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
}

.row-center-evenly {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.row-start-center {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
}

.row-start-between {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
}

.row-start-start {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-start;
}

.row-start-end {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: flex-end;
}

.row-start-around {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-around;
}

.row-start-evenly {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
}

.row-end-center {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: center;
}

.row-end-between {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-between;
}

.row-end-start {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-start;
}

.row-end-end {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: flex-end;
}

.row-end-around {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-around;
}

.row-end-evenly {
    display: flex;
    flex-wrap: nowrap;
    align-items: flex-end;
    justify-content: space-evenly;
}

/* COLUMN */

.col-center-center {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.col-center-between {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.col-center-start {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.col-center-end {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
}

.col-center-around {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.col-center-evenly {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.col-start-center {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.col-start-between {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}

.col-start-start {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.col-start-end {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.col-start-around {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}

.col-start-evenly {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.col-end-center {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
}

.col-end-between {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
}

.col-end-start {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.col-end-end {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.col-end-around {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
}

.col-end-evenly {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-evenly;
}


/* HELPERS */


.inline-center-center {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}